{% extends "layout.html" %}
{% from 'button/macro.njk' import button %}
{% from 'summary-list/macro.njk' import summaryList %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">Check your answers before sending your application</h1>

      <h2 class="nhsuk-heading-m">
        Personal details
      </h2>
  
{% set address %}
 {{data.addressLine1}}
 {{data.addressLine2}}
 {{data.addressTown}}
 {{data.addressCounty}}
 {{data.addressPostcode}}
            
{% endset -%}


      {{ summaryList({
        rows: [
          {
            key: {
              text: "Do you have magical powers?"
            },
            value: {
              text: data.magicalPowers
            },
            actions: {
              items: [
                {
                  href: "magical-powers",
                  text: "Change",
                  visuallyHiddenText: "NHS number"
                }
              ]
            }
          },
          {
            key: {
              text: "Magical symptoms"
            },
            value: {
              text: data.symptoms
            },
            actions: {
              items: [
                {
                  href: "symptomslist",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Details"
            },
            value: {
              text: data.moreDetails
            },
            actions: {
              items: [
                {
                  href: "details",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Address"
            },
            value: {
             html: address
              
            },
            actions: {
              items: [
                {
                  href: "details",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          }
              ]
      }) }}

      

      <h2 class="nhsuk-heading-m">
        Now send your application
      </h2>

      <p>
        Your details will be sent to Dr Harry Potter to begin your assessment.
      </p>

      <form action="confirmation" method="post" novalidate>
        {{ button({
          text: "Confirm and send"
        }) }}
      </form>

    </div>
  </div>
{% endblock %}