{% extends "layout.html" %}
{% from 'breadcrumb/macro.njk' import breadcrumb %}
{% from 'button/macro.njk' import button %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [
      {
        href: "#",
        text: "Home"
      },
      {
        href: "#",
        text: "Section"
      }
    ],
    href: "#",
    text: "Subsection"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>Order a test to see if you have magical powers</h1>
      <p>Use this service to see if you are eligible to order a magical powers test and order a test to be delivered to your home.</p>
      {% from 'inset-text/macro.njk' import insetText %}
{% from 'images/macro.njk' import image %}

{{ image({
  src: "/images/harry.png",
  sizes: "(max-width: 768px) 100vw, 66vw",
  alt: "Close-up of Harry Potter's face.",
  caption: "Harry Potter."
}) }}
{% set insetTextHtml %}
  <p>You can use this service if you:</p>
      <ul>
        <li>live in England</li>
        <li>have symptoms of magical powers</li>
        <li>are aged 18 or older</li>
      </ul>

      

{% endset %}

{{ insetText({
  html: insetTextHtml
}) }}
      

      <h2>Before you start</h2>

      <p>We'll ask you for your home address.</p>

      {{ button({
        text: "Start now",
        href: "magical-powers"
      }) }}

      <p>By using this service you are agreeing to our <a href="#">terms of use</a> and <a href="#">privacy policy</a>.</p>

    </div>
  </div>
{% endblock %}